body {
background-color: #2F4736;
color: #B9C8BE;
}
a {
	color: #849F8C;
}
a:hover {
	color: #B9C8BD;
}
.navigation  {
}
.navigation li {
display: inline-block;
padding-right: 80px;
}
.navigation li a {
text-transform: uppercase;
color: #B9C8BE;
}
.navigation li a:hover {
color: white;
}
h1 {
font-size: 4.4em;
font-family: din-2014;
font-weight: 700;
}
h2 {
font-size: 1.2em;
color: white;
font-family: din-2014;
font-weight: 300;
}
h4 {
font-size: 1.7em;
color: white;
font-family: din-2014;
font-weight: 700;
}
p {
color: white;
font-family: Helvetica Neue, sans-serif;
font-weight: 300;
}
.white-txt {
color: white;
}
.tokenomics {
padding: 0;
margin: 0;
}
.tokenomics li {
display: inline-block;
}
.primary-button {
color: #243529;
background-color: #B9C8BE;
padding: 14px 70px;
border-radius: 45px;
border: none;
outline: none;
font-size: 1.5em;
}
.primary-button:hover {
background-color: #D3DDD6;
}
.secondary-button {
color: #B9C8BE;
background-color: #243529;
padding: 13px 69px;
border-radius: 45px;
border: 2px solid #B9C8BE;
outline: none;
font-size: 1.5em;
}
.secondary-button:hover {
background-color: #B9C8BE;
color: #243529;
}
.primary-button:focus, .secondary-button:focus {
outline: 0;
}
::selection {
background-color: #476A51;
color: white;
}
/***** Farming Page ******/
.farm-container {
background-color: #2F4736;
border: 1px solid #476A51;
border-radius: 12px;
height: 300px;
display: inline-block;
}
/***** Progress Bars *****/
.shim-green {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 255, 0, 0.7);
}
.shim-green::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 2s ease-out infinite;
  content: "";
}

.shim-blue {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 155, 255, 0.7);
}
.shim-blue::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 2.5s ease-out infinite;
  content: "";
}

.shim-red {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.7);
}
.shim-red::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 3s ease-out infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}





.green-50 { color: #F6F8F7; }
.green-100{ color: #EDF1EF; }
.green-200 { color: #D3DDD6; }
.green-300 { color: #B9C8BD; }
.green-400 { color: #849F8C; }
.green-500 { color: #4F765A; }
.green-600 { color: #476A51; }
.green-700 { color: #2F4736; }
.green-800 { color: #243529; }
.green-900 { color: #18231B; }
.bg-topography { background-image: url('../img/topography.svg'); }
/*
50: '#F6F8F7',
100: '#EDF1EF',
200: '#D3DDD6',
300: '#B9C8BD',
400: '#849F8C',
500: '#4F765A',
600: '#476A51',
700: '#2F4736',
800: '#243529',
900: '#18231B',

font-family: din-2014,sans-serif;
font-weight: 200;
font-weight: 300;
font-weight: 400;
font-weight: 700;
*/